<a href="https://colab.research.google.com/github/Adithya759/Adithya/blob/main/Airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Libraries

In [18]:
import pandas as pd
import numpy as np

#Loading Data

In [19]:
df = pd.read_excel('/content/partpdf_1758763736656_airbnb.xlsx')

In [20]:
df['Host Since'] = pd.to_datetime(df['Host Since'], errors='coerce')

#Analatical question

One valuable faeture we can create from the "host Since" column is "Host Tenure", which represents the number of years, a host has been active on the platform.  This can be calulated substracting the "host Since" date from the current data. It useful to price prediction, trust and experience, adaptation of market, quality etc.

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30475 entries, 0 to 30474
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Host Id                     30475 non-null  int64
 1   Host Since                  30475 non-null  datetime64[ns]
 2   Name                        30475 non-null  object
 3   Neighbourhood               30475 non-null  object
 4   Property Type               30472 non-null  object
 5   Review Scores Rating (bin)  22155 non-null  float64
 6   Room Type                   30475 non-null  object
 7   Zipcode                     30341 non-null  float64
 8   Beds                        30390 non-null  float64
 9   Number of Records           30475 non-null  int64
 10  Number Of Reviews           30475 non-null  int64
 11  Price                       30475 non-null  int64
 12  Review Scores Rating        22155 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(4)
memory usage: 3.0+ MB

#Test 2

Handling missing numbers

In [37]:
df['Property Type'].fillna('Apartment', inplace=True)

In [52]:
df['Review Scores Rating'].fillna(df['Review Scores Rating'].mean(), inplace=True)

/tmp/ipython-input-1451811708.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review Scores Rating'].fillna(df['Review Scores Rating'].mean(), inplace=True)

In [41]:
df['Beds'].fillna(df['Beds'].median(), inplace=True)

/tmp/ipython-input-2074833105.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Beds'].fillna(df['Beds'].median(), inplace=True)

In [44]:
df['Zipcode'].fillna(df['Zipcode'].mode()[0], inplace=True)

/tmp/ipython-input-1481189317.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Zipcode'].fillna(df['Zipcode'].mode()[0], inplace=True)

In [57]:
df.isna().sum()

Host Id                       0
Host Since                    0
Name                          0
Neighbourhood                 0
Property Type                 0
Review Scores Rating (bin)    0
Room Type                     0
Zipcode                       0
Beds                          0
Number of Records             0
Number Of Reviews             0
Price                         0
Review Scores Rating          0
dtype: int64

#Analytical Question


For the Review Scores Rating column, I chose to impute missing values using the median rather than the mean or a fixed value, it is based on the Outliers, Intergrity, bias avoiding, Overall it is balanced and statistical, that apporaches the missing score

#Test 3

In [89]:


df = pd.read_excel('/content/partpdf_1758763736656_airbnb.xlsx')

# Check column names
print(df.columns)

# Preview relevant columns
print(df[['Neighbourhood ', 'Room Type', 'Price']].head())

# Clean and encode
df['Neighbourhood '] = df['Neighbourhood '].astype(str).fillna('Unknown')
df['Room Type'] = df['Room Type'].astype(str).fillna('Unknown')

df_encoded = pd.get_dummies(df, columns=['Neighbourhood ', 'Room Type'], drop_first=True)

Index(['Host Id', 'Host Since', 'Name', 'Neighbourhood ', 'Property Type',
       'Review Scores Rating (bin)', 'Room Type', 'Zipcode', 'Beds',
       'Number of Records', 'Number Of Reviews', 'Price',
       'Review Scores Rating'],
      dtype='object')
  Neighbourhood         Room Type  Price
0      Manhattan  Entire home/apt    199
1      Manhattan     Private room    549
2       Brooklyn  Entire home/apt    149
3      Manhattan  Entire home/apt    250
4       Brooklyn     Private room     90

In [88]:
df_a = df.copy()
df_a = pd.get_dummies(df_a, columns=['neighbourhood', 'room_type'], drop_first=True)

KeyError: "None of [Index(['neighbourhood', 'room_type'], dtype='object')] are in the [columns]"

In [ ]:
df_b = df.copy()
df_b['neigh_room'] = df_b['neighbourhood'] + "_" + df_b['room_type']
df_b = pd.get_dummies(df_b, columns=['neighbourhood', 'room_type', 'neigh_room'], drop_first=True)

#Analatical Question

The faeture engineering the RMSE may be becoming the lower, predictive better