<a href="https://colab.research.google.com/github/Adithya759/Adithya/blob/main/New_assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#1
def count_vowels(text):
  count=0
  for letter in text:
    if letter in 'aeiou':
       count=count+1
  return count
print(count_vowels("Hello World"))

3

In [5]:
#2
def is_prime(number):
  if number <= 1:
    return False
  for i in range(2, number):
    if number % i == 0:
       return False
  return True
print(is_prime(7))
print(is_prime(10))

True
False

In [6]:
#3
def find_max(a, b):
  if a >b:
    return a
  else:
    return b
print(find_max(10, 20))
print(find_max(20, 30))

20
30

In [7]:
#4
def factorial(n):
  result= 1
  for i in range(1, n +1):
    result= result*i
  return result
print(factorial(5))
print(factorial(3))

120
6

In [9]:
#5
def reverse_string(text):
  result = ""
  for char in text:
      result + char + result
  return result
print(reverse_string("hello"))

In [14]:
#6
def is_palindrome(text):
  if text == text[ ::-1]:
    return True
  else:
    return False
print(is_palindrome("hello"))
print(is_palindrome("madam"))

False
True

In [21]:
#7
def count_vowels(text):
  vowels= 'aeiou'
  count = 0
  for letter in text:
    if letter in vowels:
      count + count+1
  return count
print(count_vowels("hello life"))

0

In [31]:
#8
def my_function_8():
  num = [1,2,3,4,5,6,7,8,9]
  return sum(num)
print("number of vowels:", my_function_8())

number of vowels: 45

In [27]:
#9
def find_min(numbers):
    if not numbers:
      return None
    smallest = numbers[0]
    for num in numbers:
      if num < smallest:
        smallest = num
    return smallest
print(find_min([4,2,7,1,9]))

1

In [28]:
#10
def remove_duplicates(numbers):
  result= []
  for num in numbers:
    if num not in result:
        result.append(num)
  return result
print(remove_duplicates([1,2,3,4,4,5,5,6]))

[1, 2, 3, 4, 5, 6]

In [32]:
#11
def my_function_11():
  list= [10,5,20,15,30]
  return sorted(list)
print(my_function_11())

[5, 10, 15, 20, 30]

In [34]:
#12
def my_fuction_12():
  text=("apple")
  return len(text)
print(my_fuction_12())

5

In [35]:
#13
def my_function_13():
  text="She is a Doctor"
  text=text.split()
  return len(text)
print(my_function_13())

4

In [37]:
#14
def my_function_14():
  farenheit = (celsius * 9/5)+32
  return farenheit
celsius=25
fareheit = my_function_14()
print("Celcius :", celsius)
print("farenheit:", fareheit)

Celcius : 25
farenheit: 77.0

In [38]:
#15
def is_palindrome(number):
  original = str(number)
  reversed_num = original[ ::-1]# reversed_num should be a string to comare with original
  return original == reversed_num
number = 121
print(is_palindrome(121))

True

In [40]:
#16
def my_function_16():
  num_list= [5,10,15,20,25,30,35,40,45,50]
  even_numbers = [number for number in num_list if number % 2 == 0]
  return even_numbers
print(my_function_16(  ))

[10, 20, 30, 40, 50]

In [42]:
#17
def my_function_17(n):
  if n <= 0:
    return "inavlid input"
  elif n == 1:
    return 0
  elif n == 2:
    return 1
  else:
      a,b = 0,1
      for i in range(3, n+1):
        a,b = b, a+b
      return b
print(my_function_17(7))

8

In [44]:
#18
def my_function_18():
  numbers= [1,2,3,4,5,6,7,8,9,10]
  total= sum(numbers)
  count= len(numbers)
  return total/count
print(my_function_18())

5.5

In [45]:
#19
def my_function_19():
  count_dict={}
  for char in "hello world":
    if char in count_dict:
      count_dict[char]+=1
    else:
      count_dict[char] =1
    return count_dict
print(my_function_19())

{'h': 1}

In [46]:
#20
def my_function_20():
  return len(list) == len(set(list))
list = [1,2,3,4,5]
print(my_function_20())

True

In [47]:
#21
def dot_product(list1, list2):
  result = 0
  for a, b in zip(list1, list2):
    result += a * b
  return result
x= [1,2,3]
y= [4,5,6]
print(dot_product(x,y))

32

In [ ]:
def common_elements(list1, list2):
  result=[]
  for item in list1:
    if item in list2 and item not in result:
        result.append(item)
    return result
a=[1,2,3,4]
b=[3,4,5,6]
print(common_elements (a, b))